@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a href="Identity/Account/Login">Login</a> or <a href="Identity/Account/Register">Register an account</a> before continuing.</p>
    <p>or for now, go to To Do List by clicking <a href="ToDos">here</a> or clicking on the top left icon.</p>
</div>
